h1 {
    font-family: COMBAT PATRIOT;
    font-weight :200;
    color:orangered;
    font-size: 150em;
}
p,h2 {
    font-family: American Typewriter;
    color:	black;
    font-weight: bold;
}










