h1 {
    font-family: COMBAT PATRIOT;
    font-weight :200;
    color:orangered;
    font-size: 150em;
}
p,h2 {
    font-family: American Typewriter;
    color:	black;
    font-weight: bold;
}

img {
    width: 300px;
    height: 150px;
}
.search-box input {
    padding-right: 24px; /* Make room for the delete icon */
}








